@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

/*Tirando as propriedades padroes do UL*/

ul{
    padding: 0px!important;
}

.menu-principal{
    width: 100%;
    background-color: #252323;
    height: 60px;
}

main, .content{
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo{
    padding: 16px;
    width: 60%;
    float:left;
}

.redes-socias{
    width: 30%;
    float: right;
}

.redes-socias ul li{ 
    display: inline-block; /*Deixando todos na mesma linha*/
    float: left;
    list-style-type: none;
    margin-left: 27px;
}

/*Header 2*/

.header-2{
    background-color: #fff;
    width: 980px;
    margin: 0 auto;
    padding: 16px;
}

/* Linha horizontal */
.itens-menu{
    height: 80px;
    border-bottom: 4px solid #efefef;
}

.menu ul li{
    display: inline-block;
    color: #8b8b8b;
    margin-left: 15px;
    height: 48px;
}

/*Efeito da barra*/

.menu ul li:hover{
    border-bottom: 2px solid #00bac6;
}

.menu ul li a:hover{
    color: #00bac6;
    
}

.menu ul li a{
    color: #8b8b8b;
    font-size: 14px;
    text-decoration: none; /*retira a estilização da tag a*/
    text-transform: uppercase;
    padding-bottom: 30px;
}

.menu{
    width: 70%;
    float: left;
}

.busca{
    /*text-align: center;*/
    width: 30%;
    float: right;
}

.busca input{
    background-image: url('../img/pesquisar.png');
    background-repeat: no-repeat;
    background-position: 96%;
    height: 36px;
    width: 190px;
    margin-top: 5px;
    padding-left: 8px;
    border: 1px solid #d6d6d6;
}

.col-100{
    width: 100%;
    float: left;
    position: relative;
}

/*Resetando o botão*/

button.slick-prev{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/arrow1.png');
    position: absolute;
    z-index: 9;
    left: 14%;
    top: 35%;
}

button.slick-next{
    font-size: 0px;
    border: none;
    width: 25px;
    height: 51px;
    background-color: transparent;
    background-image: url('../img/arrow2.png');
    position: absolute;
    z-index: 9;
    right: 14%;
    top: 35%;
}

.slick-dots li button{
    font-size: 0px;
    border: 5px solid #fff;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 6px;
}

ul.slick-dots {
    margin: 0 auto;
    text-align: center;
    top: 91%;
    left: 680px;
    position: absolute;
}

.slick-dots li{
    display: inline-block;
}

li.slick-active button{
    background: #00bac6;
}

/* Texto em destaque */

.content{
    text-align: center;
}

.text-h1{
    font-size: 23pt;
    text-transform: uppercase;
    text-align: center;
    color: #818181;
}

.text-h1 strong{
    color: #646464;
    font-weight: 800;
}

.text-p{
    text-align: center;
    font-size: 13pt;
    color: #9a9a9a;
}

.espaco{
    margin-top: 3em;
}

/*cads*/

.col-3{
    width: 33.33%;
    float: left;
    position: relative;
}

.text-p-2{
    font-size: 15pt;
}

.text-p-2 strong{
    font-weight: bold;
}

.text-p-3{
    font-size: 12pt;
}

.meio{
    margin-top: 35px;
}

/* Card de fotos */

.col-card-3{
    width: 30%;
    float: left;
    position: relative;
    text-align: left;
    margin-top: 35px;
    /* margin-bottom: 35px; */
    margin-left: 30px;
    border: 1px solid #c5c5c5;
}

.col-card-3 img{
    width: 295px;
    height: 190px;
}

.col-card-3 strong{
    font-size: 12pt;
    font-weight: 900;
}

.col-card-3 p{
    color: #818181;
    font-size: 12pt;
    padding: 12px;
}

.card-imgs{
    background-color: #eeeeee;
}

.card-imgs:before{
    width: 100%;
    display: inline-block;
    content: '';
    height: 52px;
    background-color: #fff;
    background-image: url('../img/Seta.png');
    background-repeat: no-repeat;
    background-position: center;
}

.card-imgs:after{
    width: 100%;
    display: inline-block;
    content: '';
    height: 50px;
    background-color: #eeeeee;
}

/*Logos*/

.col-4{
    float: left; /*deixando tosos os logos a direita*/
    width: 25%;
    margin-top: 40px;
}

.bloco-logos{
    height: 170px;
}

.col-4 img{
    cursor: pointer;
    margin: 0 auto;
}

/*zoom da img*/

.zoom{
    overflow: hidden;
}

.zoom img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.zoom img:hover{
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/*footer*/
footer h3, p{
    text-align: left;
}

footer p{
    width: 80%;
}
.bloco-footer{
    background-image: url("../img/img-footer-01.png");
    color: #fff;
}

.clock:before{
    display: inline-block;
    content: '';
    width: 15px;
    height: 15px;
    background-image: url('../img/clock.png');
    background-repeat: no-repeat;
    float: left;
    margin-top: 4px;
    padding-right: 5px;
}

.col-4 hr{
    border-top: none!important;
    border: 1px solid #828282;
    width: 80%;
    margin-left: 0px;;
}

.col-4 p{
    color: #c0c0c0;
}

.p-destaques{
    color: #eaeaea;
    font-size: 1.1em;
}

.local:before{
    display: inline-block;
    content: '';
    width: 15px;
    height: 21px;
    background-image: url('../img/local.png');
    background-repeat: no-repeat;
    float: left;
    margin-top: 4px;
    padding-right: 20px;
}

.email:before{
    display: inline-block;
    content: '';
    width: 15px;
    height: 21px;
    background-image: url('../img/email.png');
    background-repeat: no-repeat;
    float: left;
    margin-top: 4px;
    padding-right: 20px;
}

.cel:before{
    display: inline-block;
    content: '';
    width: 15px;
    height: 21px;
    background-image: url('../img/cel.png');
    background-repeat: no-repeat;
    float: left;
    margin-top: 4px;
    padding-right: 20px;
}

.bloco-footer-2{
    background-image: url("../img/img-footer-02.png");
    color: #c1c1c1;
    height: 90px;
}

.bloco-footer-2 p{
    float: left;
}